 #forgotpasswordheader
 {
    text-align: center;
    color:white;
 }
 .forgotpasswordform
 {
    text-align: center;
    position: fixed;
 }
 .signup-background {
    background-image: url('D:\SampleProject\reactwebexample\src\images\himalayas.jpg'); /* Replace with the actual path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    min-height: 100vh; /* Set a minimum height to cover the entire viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  #setpasswordheader,#nextbutton,#otpheader,#confirmpasswordheader,#passwordcreated
  {
    color:white;
    font-weight: bold;
  }
  .error-message
  {
   color:rgb(232, 211, 16);
   font-weight: bold;
  }
  #emaillabel
  {
   color:black;
  }
  #enteremailheader
  {
   color:white;
  }
  #nextemail,#nextotp,#submitbutton
  {
   background-color: green;
   width: auto;
   font-weight: bold;
  }